The LinkedInWars Rules

The Game
LinkedInWars is a game of subversion. The idea is to populate your opponent with obscure endorsements in a manner that are, perhaps, slightly embarassing to them. Why? Why not?


The Objective
To endorse your opponent with nonsense.


How to Win
You win by getting the best "burn". It's that simple. Like being a teenager again.


Rules
